.poker {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.freeimages.com/images/large-previews/4dc/free-casino-table-cloth-texture-1637741.jpg");
  background-size: cover;
}

.people {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 90px;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
